$price-label-text-colour: grey;
$price-saving-text-colour: red;

.price-panel{
  .price-label{
    font-size: 0.8rem;
    color: $price-label-text-colour;
  }

  .currency-sign{
    font-size: 0.8rem;
  }

  .price{
    font-size: 2rem;
    line-height: 2rem;
    vertical-align: text-top;
    padding-left: 0.2rem;
  }

  .saving{
    font-size:1.2rem;
    height: 1.5rem;
    color: $price-saving-text-colour;
  }
}
